.hero {
    background: #f6f6f6;
    margin-top: -4px;
    padding: 35px 18px 57px 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fonctionnement {
    padding: 50px 20px 50px 20px;
  }
  
  .fonctionnement__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  @media (min-width: 770px) {
    .fonctionnement__list {
      flex-direction: row;
    }
  }
  
  .fonctionnement__cards {
    display: flex;
    align-items: center;
    position: relative;
    padding: 28px 23px 28px 38px;
    margin: 0 12px 0 12px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    font-weight: 500;
  }
  .fonctionnement__cards i {
    margin-right: 20px;
  }
  @media (min-width: 770px) {
    .fonctionnement__cards {
      flex-grow: 1;
    }
  }
  
  .fonctionnement__order--circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: white;
    background-color: #9356dc;
    text-align: center;
    position: absolute;
    left: 0;
    transform: translateX(-12px);
  }
  
  .restaurants {
    padding: 50px 18px;
    background-color: #f6f6f6;
    box-shadow: 0 0 0 100vmax #f6f6f6;
    clip-path: inset(0 -100vmax);
  }
  
  .restaurants__list {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
  @media (max-width: 425px) {
    .restaurants__list {
      grid-template-columns: 1fr;
    }
  }
  
  .restaurants__cards {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
  }
  
  .restaurants__badge {
    display: none;
  }
  
  .restaurants__badge--new {
    display: block;
    position: absolute;
    margin: 15px;
    padding: 7px 9px;
    color: #008766;
    background-color: #99e2d0;
    right: 0;
    top: 0;
    font-size: 14px;
    font-weight: 500;
  }
  
  .restaurants img {
    height: 170px;
    object-fit: cover;
  }
  
  .restaurants__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: white;
    color: black;
  }
  
  .restaurants__description__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .restaurants__description__i {
    display: grid;
  }
  
  img[class=menu__img] {
    object-fit: cover;
    height: 250px;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .restaurants__page {
    position: relative;
  }
  
  .menu {
    gap: 12px;
    max-width: 1055px;
    margin: 0 auto;
    background-color: #f6f6f6;
  }
  
  .menu__hero {
    position: relative;
  }
  
  .menu__hero__title {
    position: relative;
    top: -25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    max-width: 1055px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 32px 17px 0px 17px;
    background-color: #f6f6f6;
  }
  @media (min-width: 770px) {
    .menu__hero__title {
      justify-content: center;
    }
  }
  
  .menu__hero__i {
    display: grid;
    margin-right: 15px;
  }
  
  .menu__carte {
    max-width: 658px;
    margin: 0 auto;
    padding: 13px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .menu__carte__title {
    margin-bottom: 3px;
    text-transform: uppercase;
    font-weight: 300;
  }
  
  .menu__carte__title--underline {
    border-bottom: solid 3px #99e2d0;
  }
  
  .menu__carte__title:not(.first-title) {
    margin-top: 40px;
  }
  
  .menu__carte > * {
    opacity: 0;
  }
  
  .plats {
    display: grid;
    padding: 13px 15px;
    grid-template-areas: "title     .    " "sub-title price";
    grid-template-columns: 1fr auto;
    background-color: #fff;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  @media (min-width: 770px) {
    .plats {
      max-width: 634px;
    }
  }
  
  .plats__title {
    grid-area: title;
    margin-bottom: 5px;
  }
  
  .plats__description {
    grid-area: sub-title;
  }
  
  .plats__title,
  .plats__description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .plats__prix {
    grid-area: price;
    font-weight: 500;
    margin-left: 14px;
    transition: all 300ms ease-in;
    text-align: end;
  }
  
  .plats__check {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background: #99e2d0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: all 300ms ease-in;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -75px;
  }
  
  :is(.plats:hover, .plats:active) :is(.plats__check) {
    margin-right: 75px;
  }
  
  :is(.plats:hover, .plats:active) :is(.plats__prix) {
    margin-right: 61px;
  }
  
  .loader {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    animation: opacity-fade 0.5s 2.5s ease-out forwards;
    background-color: #ffffff;
  }
  
  .logo {
    position: relative;
    width: 60%;
  }
  
  .loading {
    width: 100%;
    height: 1vh;
    border-radius: 15px;
    border: solid 3px rgb(0, 0, 0);
    position: relative;
    bottom: -18px;
  }
  
  .loading-bar {
    width: 100%;
    height: 100%;
    background-color: black;
    animation: loading-bar 2s cubic-bezier(0.76, 0.79, 1, 0.35);
    transform-origin: left;
  }
  
  [class*=croc-0] {
    position: relative;
    height: 4dvw;
    width: 2dvw;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
    animation: opacity-appear 50ms ease-in forwards;
    animation-delay: 500ms;
  }
  
  .croc0 {
    position: absolute;
    top: 4%;
    right: 8%;
    transform: rotate(18deg);
  }
  
  .croc-02 {
    left: -20%;
  }
  
  .croc-03 {
    left: -40%;
  }
  
  .croc1 {
    position: absolute;
    top: -10%;
    right: 9%;
    transform: rotate(-7deg);
  }
  
  [class*=croc-1] {
    height: 7dvw;
    width: 3dvw;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    opacity: 0;
    animation: opacity-appear 50ms ease-in forwards;
    animation-delay: 1200ms;
  }
  
  .croc-12 {
    left: -20%;
  }
  
  .croc-13 {
    left: -40%;
  }
  
  [class*=miette] {
    position: absolute;
    height: 1dvw;
    width: 1dvw;
    background-color: #101010;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
  }
  
  .miette-3 {
    top: 38%;
    right: 23%;
    animation: miette-1 1s 950ms ease-in forwards, opacity-appear 50ms 1050ms ease-in forwards;
  }
  
  .miette-2 {
    top: 44%;
    right: 16%;
    animation: miette-1 1s 1300ms ease-in forwards, opacity-appear 50ms 1400ms ease-in forwards;
  }
  
  .miette-1 {
    top: 40%;
    right: 15%;
    animation: miette-1 1s 400ms ease-in forwards, opacity-appear 50ms 50ms ease-in forwards;
  }
  
  .shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
  }
  
  /*# sourceMappingURL=style.css.map */
  