@use "./animations.css";

 /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
    html {
      margin: 0;
      //styleName: Section Title;
    }

    body {
      //styleName: Section Title;
      font-family: Roboto;
      font-weight: 700;
      line-height: 28.13px;
      text-align: left;

    }
  
    .header_nav, main section {
      padding: 10px;
    }
  
    .headerLogoIndex {
      width: 100%;
      text-align: center;
  
      img {
        width: 50%;
      }

      .logoDesktop {
        display: none;
      }
    }
  
    .headerLogoPage2 {
      width: 100%;
      margin: auto;
      height: 90px;
  
      img {
        width: 100%;
        margin: 0;
      }
    }
  
    .header_h1 {
      width: 80%;
      margin: auto;
  
      h1 {
        padding: 10px 0px 0px 0px;
        margin: 0;
      }
    }
  
    .header_bouton {
      background: linear-gradient(100.00deg, #9356DC -50.00%, #FF79DA 50.00%);
      width: 250px;
      height: 40px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      margin: auto;
    }
  
    .nav_lien {
      display: block;
    }
  
    .number1 {
      background-color: #9356DC;
      position: absolute;
      width: 7%;
      border-radius: 50px;
      text-align: center;
      display: flex;
      align-items: center;
      left: 35px;
  
      div {
        margin: auto;
        color: white;
      }
    }
  
    .nouveauplat {
      background-color: #99E2D0;
      position: absolute;
      width: 30%;
      height: 4%;
      border-radius: 5px;
      text-align: center;
      display: flex;
      align-items: center;
      left: 205px;
      top: 740px;
  
      div {
        margin: auto;
        color: #008766;
      }
    }
  
    .nouveauplat2 {
      background-color: #99E2D0;
      position: absolute;
      width: 30%;
      height: 4%;
      border-radius: 5px;
      text-align: center;
      display: flex;
      align-items: center;
      left: 205px;
      top: 990px;
  
      div {
        margin: auto;
        color: #008766;
      }
    }
  
    .tailleCoeurRose {
      width: 30%;
    }
  
    .recentrer {
      width: 80%;
      margin-left: 35px;
      margin-bottom: 20px;
    }
  
    .centrer {
      width: 100%;
      text-align: center;
      height: 70px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      background-color: var(--main-bg-header-color);
      box-shadow: 0px 4px 15px 0px #00000026;

      svg {
        width: 30%;
      }
    }
  
    .reglages_menu {
      background-color: white;
      border-radius: 20px;
  
      img {
        width: 100%;
      }
    }
  
    .menu_restaurants {
      display: block;
      width: 80%;
      margin-left: 35px;
      margin-bottom: 20px;
    }
  
    .recadrimage {
      height: 150px;
      overflow: hidden;
      border-radius: 20px 20px 0px 0px;
    }
  
    .recadrimage2 {
      height: 150px;
      overflow: hidden;
      border-radius: 20px 20px 0px 0px;
  
      img {
        margin: -230px 0px 0px 0px;
      }
    }
  
    footer {
      background-color: #353535;
      padding: 10px;
    }
  
    .lien_footer, .lien_footer2 {
      width: 100%;
      display: block;
    }
  
    .lien_footer a, .lien_footer2 a {
      display: block;
    }
  
    .headerLogofooter {
      width: 100%;
  
      h3 {
        font-family: shrikhand;
        font-style: italic;
        color: white;
      }
    }
  
    .lien_footer a, .lien_footer2 a {
      color: white;
      text-decoration: none;
      margin: auto;
    }
  
    :root {
      --main-bg-header-color:#F6F6F6;
      --main-bg-header2-color:#FFFFFF;
      --main-bg-header3-color:#EAEAEA;
      --filter-bg-color:#DEEBFF;
    }
  
    /*header*/
  
    .resto_localisation {
      background-color: var(--main-bg-header3-color);
      height: 30px;
      display: flex;
      align-items: center;
  
      p {
        margin: auto;
        width: 50%;
  
        svg {
          width: 7%;
        }
      }
    }
  
    .header_h1 h1 {
      padding: 10px 0px 0px 0px;
      margin: 0;
      font-size: 30px;
    }
  
    .bg_para_et_bouton {
      background-color: var(--main-bg-header-color);
    }
  
    .header_nav {
      background-color: var(--main-bg-header2-color);
    }
  
    .headerLogo, .resto_localisation, .header_h1 {
      text-align: center;
    }
  
    .header_bouton {
      text-align: center;
  
      a {
        text-decoration: none;
        margin: auto;
        color: white;
      }
    }
  
    .nav_lien div a {
      text-decoration: none;
      color: black;
    }
  
    .header_nav, main section {
      margin: auto;
    }
  
    /* restaurants */
  
    /*image recadrée*/
  
    main {
      background-color: var(--main-bg-header-color);
      border-radius: 20px 20px 0px 0px;
  
      section {
        border-radius: 20px 20px 0px 0px;
        overflow: hidden;
  
        div h2 {
          height: 50px;
          display: flex;
          align-items: center;
        }
      }
    }
  
    .d-flex {
      display: flex;
      justify-content: space-between;
    }
  
    .align-center {
      width: 20%;
      display: flex;
      align-items: center;
  
      i {
        color: black;
        text-align: center;
  
      }
    }
  
    .padding_texte_menu {
      padding: 10px;

      p {
        margin: 0;
      }
    }
  
    /*image palette */
  
    .imagePalette {
      width: 100%;
  
      img {
        width: 100%;
      }
    }
  
    .titrePalette {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-style: italic;
      text-align: center;
      margin-bottom: 20px;
  
      h1 {
        margin: 0;
      }

      .fa-solid {
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    /* main */
  
    .mainMobile {
      position: relative;
      bottom: 60px;
    }
  
    .entreePlat {
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  
    .plats {
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      background-color: white;
      border-radius: 10px;
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;
      white-space: nowrap;

      .ensemble {
        display: flex;
      }

      .euro {
        display: flex;
        align-items: end;
        font-weight: bold;
        padding: 10px;
      }

      .PlatDescription {
        padding: 10px;
        overflow: hidden;

        p {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
  
      .elementVert {
        width: 50px;
        background-color: rgba(153, 226, 208, 1);
        margin-right: -60px;
        transition: all 1s;
        display: grid;
        place-items: center;

        i {
          background: white;
          border-radius: 50px;
        }
      }

      &:hover .elementVert{
        margin-right: 0px;
      }
    }
  
      H3 {
        font-weight: bold;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
    .bouton_commander {
      background: linear-gradient(175.33deg, #9356DC -11.44%, #FF79DA 123.93%);
      width: 250px;
      margin-left: 60px;
      margin-bottom: 20px;
      height: 40px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 30px;
      margin: auto;
  
      a {
        text-decoration: none;
        margin: auto;
        color: white;
      }
    }
  
    /*note enchantée*/
  
    .imageNote3 {
      position: relative;
      width: 100%;
  
      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
      }
    }
  
    .mainMobile2 {
      display: flex;
      bottom: 60px;
      position: relative;
      top: -120px;
      background-color: white;
    }

    .check {
      margin: negative;
      width: 40px;
      height: 30px;
      background-color: #008766;
    }

    .check:hover {
      margin: positive;
    }

  @media screen and (min-width: 668px) and (max-width: 1023px) {

    html, body {
      margin: 0;
      //styleName: Section Title;
      font-family: Roboto;

    }

    .header_nav {
      margin: auto;
      width: 80%;
    }
  
    .header_nav, main section {
      padding: 10px;
    }
  
    .headerLogoIndex {
      width: 100%;
      text-align: center;
  
      img {
        width: 50%;
      }

      .logoDesktop {
        display: none;
      }
    }
  
    .headerLogoPage2 {
      width: 100%;
      margin: auto;
  
      img {
        width: 100%;
        margin: 0;
      }

      .imgMobile {
        display: none;
      }
    }
  
    .header_h1 {
      height: 100%;
      width: 80%;
      margin: auto;
  
      h1 {
        padding: 10px 0px 0px 0px;
        margin: 0;
      }
    }
  
    .header_bouton {
      background: linear-gradient(100.00deg, #9356DC -50.00%, #FF79DA 50.00%);
      width: 250px;
      height: 40px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      margin: auto;
    }
  
    .nav_lien {
      display: block;
    }
  
    .number1 {
      background-color: #9356DC;
      position: absolute;
      width: 5%;
      height: 4%;
      border-radius: 50px;
      text-align: center;
      display: flex;
      align-items: center;
      left: 60px;
  
      div {
        margin: auto;
        color: white;
      }
    }
  
    .nouveauplat {
      background-color: #99E2D0;
      position: absolute;
      width: 30%;
      height: 4%;
      border-radius: 5px;
      text-align: center;
      display: flex;
      align-items: center;
      left: 380px;
      top: 730px;
  
      div {
        margin: auto;
        color: #008766;
      }
    }
  
    .nouveauplat2 {
      background-color: #99E2D0;
      position: absolute;
      width: 30%;
      height: 4%;
      border-radius: 5px;
      text-align: center;
      display: flex;
      align-items: center;
      left: 380px;
      top: 980px;
  
      div {
        margin: auto;
        color: #008766;
      }
    }
  
    .tailleCoeurRose {
      width: 30%;
    }
  
    .recentrer {
      width: 100%;
      margin-left: 0;
    }
  
    .centrer {
      width: 100%;
      text-align: center;
      height: 70px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      background-color: var(--main-bg-header-color);
      box-shadow: 0px 4px 15px 0px #00000026;

      svg {
        width: 30%;
      }
    }
  
    .reglages_menu {
      background-color: white;
      border-radius: 20px;
  
      img {
        width: 100%;
      }
    }
  
    .menu_restaurants {
      display: block;
      width: 80%;
      margin: auto;
      margin-bottom: 30px;
    }
  
    .recadrimage {
      height: 150px;
      overflow: hidden;
      border-radius: 20px 20px 0px 0px;
    }
  
    .recadrimage2 {
      height: 150px;
      overflow: hidden;
      border-radius: 20px 20px 0px 0px;
  
      img {
        margin: -230px 0px 0px 0px;
      }
    }
  
    footer {
      background-color: #353535;
      padding: 10px;
    }
  
    .lien_footer, .lien_footer2 {
      width: 100%;
      display: block;
    }
  
    .lien_footer a, .lien_footer2 a {
      display: block;
    }
  
    .headerLogofooter {
      width: 100%;
  
      h3 {
        font-family: shrikhand;
        font-style: italic;
        color: white;
      }
    }
  
    .lien_footer a, .lien_footer2 a {
      color: white;
      text-decoration: none;
      margin: auto;
    }
  
    :root {
      --main-bg-header-color:#F6F6F6;
      --main-bg-header2-color:#FFFFFF;
      --main-bg-header3-color:#EAEAEA;
      --filter-bg-color:#DEEBFF;
    }
  
    /*header*/
  
    .resto_localisation {
      background-color: var(--main-bg-header3-color);
      height: 30px;
      display: flex;
      align-items: center;
  
      p {
        margin: auto;
        width: 50%;
  
        svg {
          width: 3%;
        }
      }
    }
  
    .header_h1 h1 {
      padding: 10px 0px 0px 0px;
      margin: 0;
    }
  
    .bg_para_et_bouton {
      background-color: var(--main-bg-header-color);
    }
  
    .header_nav {
      background-color: var(--main-bg-header2-color);
    }
  
    .headerLogo, .resto_localisation, .header_h1 {
      text-align: center;
    }
  
    .header_bouton {
      text-align: center;
  
      a {
        text-decoration: none;
        margin: auto;
        color: white;
      }
    }
  
    .nav_lien div a {
      text-decoration: none;
      color: black;
    }
  
    .header_nav, main section {
      margin: auto;
    }
  
    /* restaurants */
  
    /*image recadrée*/
  
    main {
      background-color: var(--main-bg-header-color);
      border-radius: 20px 20px 0px 0px;
  
      section {
        border-radius: 20px 20px 0px 0px;
        width: 80%;
  
        div h2 {
          height: 50px;
          display: flex;
          align-items: center;
        }
      }
    }
  
    .d-flex {
      display: flex;
      justify-content: space-between;
    }
  
    .align-center {
      width: 20%;
      display: flex;
      align-items: center;
  
      i {
        color: black;
        text-align: center;
  
        &:hover {
          background-color: #fcc0ce;
        }
      }
    }
  
    .padding_texte_menu {
      padding: 10px;
    }
  
    /*image palette */
  
    .imagePalette {
      width: 100%;
  
      img {
        width: 100%;
      }
    }
  
    .titrePalette {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-style: italic;
      text-align: center;
      margin-bottom: 20px;
  
      h1 {
        margin: 0;
      }

      .fa-solid {
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    /* main */
  
    .mainMobile {
      position: relative;
      bottom: 60px;
    }
  
    .entreePlat {
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  
    .plats {
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      background-color: white;
      border-radius: 10px;
      box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 30px;

      .ensemble {
        display: flex;
      }

      .euro {
        display: flex;
        align-items: end;
        font-weight: bold;
        padding: 10px;
      }

      .PlatDescription {
        padding: 10px;
      }
  
      .elementVert {
        width: 50px;
        background-color: rgba(153, 226, 208, 1);
        margin-right: -60px;
        transition: all 1s;
        display: grid;
        place-items: center;

        i {
          background: white;
          border-radius: 50px;
        }
      }

      &:hover .elementVert{
        margin-right: 0px;
      }
    }
  
      H3 {
        font-weight: bold;
        margin: 0;
      }
  
    .bouton_commander {
      background: linear-gradient(175.33deg, #FF79DA -30.44%, #9356DC 100.93%);
      width: 250px;
      margin-left: 60px;
      margin-bottom: 20px;
      height: 40px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 30px;
      margin: auto;
  
      a {
        text-decoration: none;
        margin: auto;
        color: white;
      }
    }
  
    /*note enchantée*/
  
    .imageNote3 {
      position: relative;
      width: 100%;
  
      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
      }
    }
  
    .mainMobile2 {
      display: flex;
      bottom: 60px;
      position: relative;
      top: -120px;
    }

    .check {
      margin: negative;
      width: 40px;
      height: 30px;
      background-color: #008766;
    }

    .check:hover {
      margin: positive;
    }
    
  }
  
  @media screen and (min-width: 1024px) {

    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 120px;
      height: 120px;
      margin: -76px 0 0 -76px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
    /* Add animation to "page content" */
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 1s;
      animation-name: animatebottom;
      animation-duration: 1s
    }
    
    @-webkit-keyframes animatebottom {
      from { bottom:-100px; opacity:0 } 
      to { bottom:0px; opacity:1 }
    }
    
    @keyframes animatebottom { 
      from{ bottom:-100px; opacity:0 } 
      to{ bottom:0; opacity:1 }
    }
    
    #myDiv {
      display: none;
      text-align: center;
    }

    body {
      margin: 0;
    }
  
    header section {
      text-align: center;
      background-color: rgba(246, 246, 246, 1);
    }
  
    main section {
      background-color: rgba(246, 246, 246, 1);
    }

    .header_h1 {

      h1 {
        font-size: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      p {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  
    .header_h2 {
      text-align: left;
      width: 90%;
      margin: auto;
    }
  
    .headerLogoIndex {
      text-align: center;
      background-color: white;
      height: 100px;
      display: flex;
      align-items: center;
      margin: auto;
  
      img {
        width: 20%;
        margin: auto;
      }

      .logoMobile {
        display: block;
      }

      .logoDesktop {
        display: none;
      }
    }

    .headerLogoPage2 {

      .imgMobile {
        display: none;
      }

    }
  
    .header_nav {
      background-color: white;
    }
  
    .header_bouton {
      background: linear-gradient(175.33deg, #FF79DA -30.44%, #9356DC 123.93%);
      width: 250px;
      margin-left: 60px;
      margin-bottom: 20px;
      height: 40px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      text-align: center;
      margin: auto;
  
      a {
        text-decoration: none;
        margin: auto;
        color: white;
      }
    }

    .header_bouton:hover {
      opacity: 0.5;

      a {
        color: white;
      }
    }
  
    .bg_para_et_bouton {
      background-color: var(--main-bg-header-color);
      height: 200px;
    }
  
    .resto_localisation {
      text-align: center;
      background-color: rgba(234, 234, 234, 1);
      height: 50px;
      display: flex;
      align-items: center;
  
      p {
        width: 30%;
        margin: auto;

        svg {
          width: 3%;
        }
      }
    }
  
    .nav_lien {
      display: flex;
      justify-content: space-around;
      width: 95%;
      margin: auto;
    }
  
    .h2_titre_restaurants {
      width: 90%;
      margin: auto;
      padding-top: 20px;
    }
  
    .recentrer {
      width: 30%;
      margin-left: 35px;
      margin-bottom: 20px;
    }
  
    .centrer {
      width: 100%;
      text-align: center;
      height: 70px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      background-color: var(--main-bg-header-color);
      box-shadow: 0px 4px 15px 0px #00000026;
  
      a {
        text-decoration: none;
        width: 60%;
      }
  
      svg {
        width: 20%;
      }
    }
  
    .number1 {
      background-color: #9356DC;
      position: relative;
      width: 7%;
      border-radius: 50px;
      display: flex;
      align-items: center;
      left: -8px;
  
      div {
        color: white;
        margin: auto;
      }
    }
  
    .menu_liste {
      display: flex;
      justify-content: space-around;
      height: 70%;
      margin-bottom: 30px;
      padding-bottom: 50px;
    }

    .padding_texte_menu {
      text-align: left;

      p {
        margin: 0;
      }
    }

    .menu_restaurants {
      width: 40%;
    }

    .nouveauplat {
      background-color: #99E2D0;
      border-radius: 5px;
      text-align: center;
      display: flex;
      align-items: center;
      position: absolute;
      top: 700px;
      width: 120px;
      height: 30px;
      left: 510px;
  
      div {
        margin: auto;
        color: #008766;
      }
    }
  
    .nouveauplat2 {
      background-color: #99E2D0;
      position: absolute;
      width: 120px;
      height: 30px;
      left: 1200px;
      top: 700px;
      border-radius: 5px;
      text-align: center;
      display: flex;
      align-items: center;

      div {
        margin: auto;
        color: #008766;
      }
    }

    .align-center {
      width: 10px;

      .fa-solid {
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .recadrimage {
      img {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
        position: relative;
        top: -150px;
        bottom: -400px;
      }
  
      width: 100%;
      height: 225px;
      overflow: hidden;
      border-radius: 10px 10px 0px 0px;
    }
  
    .recadrimage2 {
      width: 100%;
      height: 225px;
      overflow: hidden;
      border-radius: 10px 10px 0px 0px;
  
      img {
        width: 100%;
        top: -60px;
        bottom: -400px;
      }
    }
  
    .d-flex {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: auto;
      height: 80px;
    }
  
    .reglages_menu {
      background-color: white;
      border-radius: 0px 0px 10px 10px;
    }
  
    footer {
      background-color: rgba(53, 53, 53, 1);
      display: flex;
      flex-direction: row-reverse;
    }
  
    .lien_footer {
      display: flex;
      align-items: center;
      width: 23%;
      justify-content: space-around;

      i {
        color: white;
      }
    }
  
    .lien_footer2 {
      display: flex;
      align-items: center;
      width: 17%;
      justify-content: space-around;
    }
  
    .lien_footer a, .lien_footer2 a {
      color: white;
      text-decoration: none;
      align-items: center;
    }
  
    footer {
      height: 100px;
  
      h3 {
        color: white;
      }
    }
  
    .headerLogofooter {
      width: 12%;
      display: flex;
      align-items: center;
  
      h3 {
        width: 90%;
        margin: auto;
      }
    }
  
    /*page des menus */
  
    .imagePalette {
      width: 100%;
      height: 400px;
      overflow: hidden;
      border-radius: 10px 10px 0px 0px;
      overflow: hidden;
  
      img {
        width: 100%;
        position: relative;
        top: -300px;
      }
    }
  
    .mainMobile2 section {
      width: 50%;
      margin: auto;
      position: relative;
      top: -40px;
      text-align: center;
      border-radius: 30px 30px 0px 0px;
      padding: 10px;
    }
  
    .titrePalette {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 35%;
      margin: auto;
  
      h1 {
        font-style: italic;
      }
      .fa-solid {
        background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .entreePlat, .plats {
      text-align: left;
    }
  
    .entreePlat {
      width: 73%;
      margin: auto;
  
      p {
        text-transform: uppercase;
        border-bottom: 3px solid rgba(153, 226, 208, 1);
        width: 10%;
      }
    }
  
    .plats {
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      background-color: white;
      border-radius: 10px;
      width: 90%;
      margin: auto;
      box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px rgba(0, 0, 0, 0.1);
      margin-bottom: 10px;

      .PlatDescription {
        padding: 10px;
      }

      .euro {
        display: flex;
        align-items: end;
      }

      .euro p {
        margin-right: 3px;
      }
  
      div h3, div p {
        margin: 0;
      }

      .elementVert {

        width: 50px;
        background: rgba(153, 226, 208, 1);
        margin-right: -50px;
        transition: margin-right 1s;
        display: grid;
        place-items: center;

        i {

          background: white;
          border-radius: 10px;
          color: rgba(153, 226, 208, 1);
          display: grid;
        }
  
      }

      .ensemble {
        display: flex;
      }

      &:hover {
        .elementVert{
          margin-right: 0px;
        }
      }
    }
  
    .bouton_commander {
      background: linear-gradient(175.33deg, #9356DC -11.44%, #FF79DA 123.93%);
      width: 250px;
      margin-left: 60px;
      margin-bottom: 20px;
      height: 40px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      text-align: center;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
  
      a {
        text-decoration: none;
        margin: auto;
        color: white;
      }
    }
  
    /* page des menus 2 */
  
    .imageNote3 {
      width: 100%;
      overflow: hidden;
      border-radius: 10px 10px 0px 0px;
      overflow: hidden;
  
      img {
        width: 100%;
        position: relative;
        top: -100px;
      }
    }
  }
  