@import "../utilities/variables";

.footer {
    background-color: $color-bg-heavy;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    @media (min-width: 770px) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        padding: 60px 10px 30px 10px;
    }
}
.footer__logo {
    font-size: 18px;
    color: #fff;
    margin-bottom: 11px;
    @media (min-width: 770px) {
        order: 5;
        margin: 0 0 0 50px;
        margin-right: 5vw;
    }
}
.footer__link {
    color: #fff;
    i {
        margin-right: 11px;
    }
}
