// Font-family ff
$ff-main: "Roboto", serif;
$ff-logo: "Shrikhand", serif;

// Font-weight fw
$fw-light: 100;
$fw-main: 300;
$fw-medium: 500;
$fw-heavy: 700;

// Font-size fs
$fs-title-big: 40px;
$fs-title: 24px;
$fs-sub-title: 18px;

// color
$color-main-300: #9356dc;
$color-main-600: #ff79da;
$color-second-300: #89c8fa;
$color-second-600: #003a68;
$color-accepted-300: #99e2d0;
$color-accepted-600: #008766;

// background-color bg
$color-bg-light: #f6f6f6;
$color-bg-medium: #eaeaea;
$color-bg-heavy: #353535;
