@import "../utilities/variables";

.fa-location-dot,
.fa-arrow-left {
    color: #353535;
}

.fa-mobile-screen-button,
.fa-list-ul {
    color: #7e7e7e;
}

.fa-store {
    color: $color-main-300;
}

.fa-utensils,
.fa-handshake-angle {
    color: #ffffff;
}
