.loader {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    animation: opacity-fade 0.5s 2.5s ease-out forwards;
    background-color: #ffffff;
}
.logo {
    position: relative;
    width: 60%;
}

.loading {
    width: 100%;
    height: 1vh;
    border-radius: 15px;
    border: solid 3px rgb(0, 0, 0);
    position: relative;
    bottom: -18px;
}
.loading-bar {
    width: 100%;
    height: 100%;

    background-color: black;
    animation: loading-bar 2s cubic-bezier(0.76, 0.79, 1, 0.35);
    transform-origin: left;
}

[class*="croc-0"] {
    position: relative;
    height: 4dvw;
    width: 2dvw;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
    animation: opacity-appear 50ms ease-in forwards;
    animation-delay: 500ms;
}
.croc0 {
    position: absolute;

    top: 4%;
    right: 8%;
    transform: rotate(18deg);
}

.croc-02 {
    left: -20%;
}
.croc-03 {
    left: -40%;
}
.croc1 {
    position: absolute;
    top: -10%;
    right: 9%;
    transform: rotate(-7deg);
}
[class*="croc-1"] {
    height: 7dvw;
    width: 3dvw;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: relative;

    opacity: 0;
    animation: opacity-appear 50ms ease-in forwards;
    animation-delay: 1200ms;
}

.croc-12 {
    left: -20%;
}
.croc-13 {
    left: -40%;
}

[class*="miette"] {
    position: absolute;
    height: 1dvw;
    width: 1dvw;
    background-color: #101010;
    border-radius: 50%;
    display: inline-block;
    opacity: 0;
}
.miette-3 {
    top: 38%;
    right: 23%;
    animation: miette-1 1s 950ms ease-in forwards,
        opacity-appear 50ms 1050ms ease-in forwards;
}
.miette-2 {
    top: 44%;
    right: 16%;
    animation: miette-1 1s 1300ms ease-in forwards,
        opacity-appear 50ms 1400ms ease-in forwards;
}
.miette-1 {
    top: 40%;
    right: 15%;
    animation: miette-1 1s 400ms ease-in forwards,
        opacity-appear 50ms 50ms ease-in forwards;
}
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
}
